/******************************************************************

    Author:         Trong Huan
    Company:        Huan Eth
    Description:    huandtAlert
    Date:           03-12-2023

    TODO:
    - https://www.lightningdesignsystem.com/design-tokens/

 *******************************************************************/